#address{
    color: #1c4399;
    /*width: 100%;*/
    margin: 10px 20px;
}
.content{
    border: solid 2px black ;
    box-shadow: 3px 4px 5px gray;
    border-radius: 5px;
    margin: 3px 0;
    background-color: rgba(1, 143, 106, 0.52);
}
.content p label{
    display: flex;
    margin-left: 5px;
}
.content input{
    display: flex;
    min-width: 230px;
    width: 50%;
    margin: 4px;
    border: none;
    justify-content: center;
    border-radius: 5px ;
    margin-left: 5px;
}